/* Open Sans - Principal */
/* Barlow - Labels */
/* Readex-Pro - Titulos */

/* Open Sans */
.open-sans-regular {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  .open-sans-medium {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  .open-sans-semibold {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  .open-sans-bold {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  /* Barlow - já preenchido */
  
  /* Readex-Pro */
  .readex-pro-regular {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "HEXP" 0;
  }
  
  .readex-pro-medium {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "HEXP" 0;
  }
  
  .readex-pro-semibold {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "HEXP" 0;
  }
  
  .readex-pro-bold {
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "HEXP" 0;
  }
  