#root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.divEsqueceu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 90%;
    max-width: 500px;
    max-height: 630px;
    padding: 35px 10px 0;

    margin-top: 2rem;

    border: 1px solid rgb(189, 189, 189);
    border-radius: 2px;
}


.divEsqueceu .title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}


.divEsqueceu .title span {
    position: absolute;
    color: var(--red-color);
    transform: rotate(18deg);
    margin-left: 3px;
}

.divEsqueceu .texto {
    margin: 1.5rem 0 1.5rem 0.8rem;
}

.inputDiv input {
    padding: 17px 15px;
}

.inputDiv label {
    margin-left: 5px;
}


.divBtn  {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 45px;
    background-color: var(--pallet-red);
    border-radius: 10px;
    margin-left: 15%;
}

.divBtn .btnMudar {
    padding-top: 20px;
    font-size: 1.2rem;
}

