body {
    background: var(--bg-white);
}


.divCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form .title {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}


.form {
    margin-top: 9%;
        
    width: 90%;
    max-width: 500px;
    max-height: 630px;

    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.form .divBtn {
    background-color: rgba(255, 255, 255, 0);
}

.form .btnSwitch {
    position: absolute;
    bottom: 8%;
    right: 15%;
    font-size: 2rem;
}

.form .btnSubmit {
    margin-top: 1.5rem;

    background-image: linear-gradient(155deg, rgb(31 30 30) 19.2%, rgb(64 55 55) 103.9%);
    color: white;
    letter-spacing: 1.5px;
    font-size: 1rem;
}
