* {
    color: black;
    
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;

    background: none;
}

html, body, #root {
    height: 100vh;

}

body {
    overflow-y: scroll;
}
